#filesystem_detail #fs_actions .action-dropdown {
  transform: translateY(50%);
}

#filesystem_detail .fs-overview {
  float: left;
}

#filesystem_detail .fs-overview > p > button {
  position: static;
}

#filesystem_detail .fs-overview > p > button > .ui-icon {
  transform: translate(0, 130%);
  margin-left: 8px;
  margin-top: -16px;
  position: static;
}

#filesystem_detail .fs-overview table {
  margin-bottom: 20px;
}
