<!DOCTYPE html>
<html ng-app="iml">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <$=t ( 'target_detail.html') $>
    <$=t ( 'user_detail.html') $>
      <$=t ( 'volume_chooser_templates.html') $>
        <script type='text/javascript'>
          var STATIC_URL = '/old-gui/';
          var CACHE_INITIAL_DATA = <$= JSON.stringify(cache) $>;
          var HELP_TEXT = <$= JSON.stringify(conf.HELP_TEXT) $>;
          var UI_ROOT = "/ui/";

          // Set Dependencies for this portion of the application
          window.dependencies = ['controllers', 'models', 'interceptors', 'ngResource', 'constants',
            'ui.bootstrap', 'services', 'filters', 'directives', 'timing', 'exception'];
        </script>

        <link rel="stylesheet" href="/old-gui/css/base.css" type="text/css" />
        <link href="/old-gui/css/datatables.css" rel="stylesheet" type="text/css" />
        <link href="/old-gui/css/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link href="/old-gui/css/smoothness/jquery-ui-extend.css" rel="stylesheet" type="text/css" />
        <link href="/old-gui/css/BreadCrumb.css" rel="stylesheet" type="text/css" />

        <link href="/old-gui/css/resource_graph.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/old-gui/css/target_detail.css" type='text/css' />
        <link rel="stylesheet" href="/old-gui/css/filesystem_detail.css" type="text/css" />
        <link rel="stylesheet" href="/old-gui/css/detail_screen.css" type='text/css' />

        <link rel="stylesheet" href="/old-gui/css/notifications.css" type='text/css' />
        <link rel="stylesheet" href="/old-gui/css/jquery.qtip.min.css" type='text/css' />

        <link rel="stylesheet" href="/old-gui/css/bootstrap/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/old-gui/css/bootstrap/bootstrap-extend.css" type="text/css" />
        <link rel="stylesheet" href="/old-gui/css/font-awesome/font-awesome.css" type="text/css" />
        <link rel="stylesheet" href="/old-gui/css/volume.css" type="text/css" />
        <link rel="stylesheet" href="/old-gui/css/power_control.css" type="text/css" />
        <link rel="stylesheet" href="/old-gui/css/outlet_info.css" type="text/css" />
        <link rel="stylesheet" href="/old-gui/css/create_pdu.css" type="text/css" />
        <link rel="stylesheet" href="/old-gui/js/modules/exception/assets/css/exception-dialog.css" type="text/css" />
        <link rel="stylesheet" href="/old-gui/js/modules/exception/assets/css/disconnect-dialog.css" type="text/css" />

        <link rel="stylesheet" href="/old-gui/js/lib/select-box-it/select-box-it.css" />

        <!-- Frameworks -->
        <script type="text/javascript" src="/old-gui/js/lib/jquery.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/jquery-ui.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/jquery.peity.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/lodash.custom.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/underscore-min.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/backbone-min.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/angular/angular-resource.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/angular/ui-bootstrap.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/sprintf/sprintf.js"></script>
        <script type="text/javascript" src="/old-gui/js/app.js"></script>
        <script type="text/javascript" src="/old-gui/js/app-compatibility.js"></script>
        <script type="text/javascript" src="/old-gui/js/constants.js"></script>
        <script type="text/javascript" src="/old-gui/js/interceptors/interceptor_module.js"></script>
        <script type="text/javascript" src="/old-gui/js/interceptors/tastypie.js"></script>
        <script type="text/javascript" src="/old-gui/js/interceptors/clean-request-url.js"></script>
        <script type="text/javascript" src="/old-gui/js/controllers/controller_module.js"></script>
        <script type="text/javascript" src="/old-gui/js/controllers/power_control.js"></script>
        <script type="text/javascript" src="/old-gui/js/controllers/dialogs/create_pdu.js"></script>
        <script type="text/javascript" src="/old-gui/js/controllers/dialogs/create_bmc.js"></script>
        <script type="text/javascript" src="/old-gui/js/models/models_module.js"></script>
        <script type="text/javascript" src="/old-gui/js/models/base_model.js"></script>
        <script type="text/javascript" src="/old-gui/js/models/power_control_device.js"></script>
        <script type="text/javascript" src="/old-gui/js/models/power_control_device_outlet.js"></script>
        <script type="text/javascript" src="/old-gui/js/models/power_control_type.js"></script>
        <script type="text/javascript" src="/old-gui/js/models/host.js"></script>
        <script type="text/javascript" src="/old-gui/js/services/services_module.js"></script>
        <script type="text/javascript" src="/old-gui/js/services/compile_template.js"></script>
        <script type="text/javascript" src="/old-gui/js/services/safe_apply.js"></script>
        <script type="text/javascript" src="/old-gui/js/services/paging.js"></script>
        <script type="text/javascript" src="/old-gui/js/services/generate_command_dropdown.js"></script>
        <script type="text/javascript" src="/old-gui/js/services/interval.js"></script>
        <script type="text/javascript" src="/old-gui/js/services/page-title.js"></script>
        <script type="text/javascript" src="/old-gui/js/filters/filters_module.js"></script>
        <script type="text/javascript" src="/old-gui/js/filters/capitalize.js"></script>
        <script type="text/javascript" src="/old-gui/js/directives/directive_module.js"></script>
        <script type="text/javascript" src="/old-gui/js/directives/context_tooltip.js"></script>
        <script type="text/javascript" src="/old-gui/js/directives/command-dropdown.js"></script>
        <script type="text/javascript" src="/old-gui/js/directives/power_control_autocomplete.js"></script>

        <script type="text/javascript" src="/old-gui/js/modules/exception/exception-module.js"></script>
        <script type="text/javascript" src="/old-gui/js/modules/exception/exception-handler.js"></script>
        <script type="text/javascript" src="/old-gui/js/modules/exception/exception-dialog.js"></script>
        <script type="text/javascript" src="/old-gui/js/modules/exception/exception-dialog-controller.js"></script>
        <script type="text/javascript" src="/old-gui/js/modules/exception/exception-interceptor.js"></script>
        <script type="text/javascript" src="/old-gui/js/modules/exception/client-error-model.js"></script>
        <script type="text/javascript" src="/old-gui/js/modules/exception/disconnect-handler.js"></script>
        <script type="text/javascript" src="/old-gui/js/modules/exception/disconnect-dialog.js"></script>
        <script type="text/javascript" src="/old-gui/js/modules/exception/replay.js"></script>

        <script type="module">
          import formatBytes from "/old-gui/js/lib/format-bytes.js";
          window.formatBytes = formatBytes;
        </script>
        <script type="module">
          import formatBigNumber from "/old-gui/js/lib/format-big-number.js";
          window.formatBigNumber = formatBigNumber;
        </script>
        <script type="text/javascript" src="/old-gui/js/misc.js"></script>
        <script type='text/javascript'>
          window.TIME_OFFSET = Math.round((new Date(<$= getServerDate().getTime() $>) - new Date()) / 1000);
        </script>

        <!-- Plugins -->
        <script type="text/javascript" src="/old-gui/js/lib/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/jquery.qtip.min.js"></script>
        <script type="text/javascript" src="/old-gui/js/lib/select-box-it/select-box-it.js"></script>

        <!-- Application (toplevel) -->
        <script type="text/javascript" src="/old-gui/js/ui_tools.js"></script>
        <script type="text/javascript" src="/old-gui/js/abort-on-unload.js"></script>
        <script type="text/javascript" src="/old-gui/js/api.js"></script>
        <script type="text/javascript" src="/old-gui/js/api_cache.js"></script>
        <script type="text/javascript" src="/old-gui/js/router.js"></script>
        <script type="text/javascript" src="/old-gui/js/login.js"></script>
        <script type="text/javascript" src="/old-gui/js/notifications.js"></script>
        <script type="text/javascript" src="/old-gui/js/help.js"></script>
        <script type="text/javascript" src="/old-gui/js/conf_params.js"></script>
        <script type="text/javascript" src="/old-gui/js/text_updater.js"></script>

        <!-- Application (individual panes) -->
        <script type='text/javascript' src="/old-gui/js/user_detail.js"></script>
        <script type='text/javascript' src="/old-gui/js/target_detail.js"></script>
        <script type="text/javascript" src="/old-gui/js/system_status.js"></script>

        <!-- Templates -->
        <$=t ( 'system_status.html') $>

        <title>Integrated Manager for Lustre</title>
</head>

<script type='text/javascript'>
          $(document).ready(function () {
            $('div.rightpanel').css('visibility', 'hidden');
            Login.init();
            ContextualHelp.init();

            $('div.rightpanel').css('visibility', 'visible');
            window.loaded = true;

            new ChromaRouter();
            Api.on_available(function () {
              Backbone.history.start({ root: UI_ROOT, pushState: true })
            });
          });

</script>

<body>
  <div class='page-wrapper'>
    <script type='text/javascript'>
      $(document).ready(function () {
        var r = new RegExp('^' + UI_ROOT);

        $("a.navigation:not(a.skip_router)").live('click', function (ev) {
          ev.preventDefault();

          var href = $(this)
            .attr('href');
          var url = href.replace(r, '');

          parent.postMessage(
            url,
            location.origin
          );
        });
      });
    </script>

    <noscript>
      <p>Chroma requires JavaScript to be enabled.</p>
    </noscript>
    <div class='rightpanel'>
      <div class="toplevel" id='toplevel-configure' style="display: none;">
        <script type='text/javascript' src="/old-gui/js/filesystem_configuration.js"></script>
        <$=t ( 'configuration.html') $>
      </div>
      <div class="toplevel" id='toplevel-system_status' style="display: none;"></div>
    </div>
  </div>
</body>

</html>